<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>AWS Comprehend Usecase Implementation</title>

    <style>
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }
    </style>
</head>
<body>

<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-6">
            <h3 align="center">Enter your feedback below!</h3>
            <p align="center">(with a minimum of 1 and a maximum of 2000 characters)</p>
            <form method="post" th:action="@{/app/feedbackProcessing}">
                <div class="form-row">
            <textarea id="feedbackField" class="form-control" rows="6" name="feedbackEntry" required maxlength="2000"
                      style="resize: none"></textarea>
                </div>
                <br>
                <div class="form-row justify-content-center">
                    <button type="submit" id="goButton" class="btn btn-info" onclick="switchButtons()">Go!</button>
                    <button class="btn btn-info" id="processingButton" type="button">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        processing...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("processingButton").style.display = "none";

    function switchButtons() {
        let textarea = document.getElementById("feedbackField")

        console.log(textarea.value)
        console.log(textarea.value.length != 0)

        if(textarea.value.length != 0){
            let goButton = document.getElementById("goButton")
            let processingButton = document.getElementById("processingButton")

            goButton.style.display = "none";
            processingButton.style.display = "block";
        }
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>